name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
# ============================
# BUILD, TEST, SCAN & PUSH
# ============================
  build_test_scan_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: 9148428653
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: 9148428653/backend:latest

      - name: Build & Push Frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: 9148428653/frontend:latest

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh \
          | sudo sh -s -- -b /usr/local/bin

      - name: Scan Backend Image
        run: trivy image --severity HIGH,CRITICAL --ignore-unfixed 9148428653/backend:latest

      - name: Scan Frontend Image
        run: trivy image --severity HIGH,CRITICAL --ignore-unfixed 9148428653/frontend:latest


# ============================
# DEPLOY TO DEVELOPMENT
# ============================
  deploy_development:
    runs-on: ubuntu-latest
    needs: build_test_scan_push
    environment: development

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy (Development)
        run: |
          docker pull 9148428653/backend:latest
          docker pull 9148428653/frontend:latest
          docker compose up -d --force-recreate

      - name: Verify backend health
        run: |
          echo "Checking backend health..."
          for i in {1..10}; do
            if curl -f http://localhost:5000/health; then
              echo "Backend is healthy "
              exit 0
            fi
            sleep 3
          done
          echo "Backend failed "
          exit 1


# ============================
# DEPLOY TO STAGING
# ============================
  deploy_staging:
    runs-on: ubuntu-latest
    needs: deploy_development
    environment: staging

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy (Staging)
        run: |
          docker pull 9148428653/backend:latest
          docker pull 9148428653/frontend:latest
          docker compose up -d --force-recreate

      - name: Verify backend health
        run: |
          echo "Checking backend health..."
          for i in {1..10}; do
            if curl -f http://localhost:5000/health; then
              echo "Backend is healthy "
              exit 0
            fi
            sleep 3
          done
          echo "Backend failed "
          exit 1


# ============================
# DEPLOY TO PRODUCTION (APPROVAL REQUIRED)
# ============================
  deploy_production:
    runs-on: ubuntu-latest
    needs: deploy_staging
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy (Production)
        run: |
          docker pull 9148428653/backend:latest
          docker pull 9148428653/frontend:latest
          docker compose up -d --force-recreate

      - name: Verify backend health
        run: |
          echo "Checking backend health..."
          for i in {1..10}; do
            if curl -f http://localhost:5000/health; then
              echo "Backend is healthy "
              exit 0
            fi
            sleep 3
          done
          echo "Backend failed "
          exit 1

