name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: "9148428653"
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Backend
      run: docker build -t 9148428653/backend:latest ./backend

    - name: Build Frontend
      run: docker build -t 9148428653/frontend:latest ./frontend

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh \
        | sudo sh -s -- -b /usr/local/bin

    - name: Scan Backend
      run: trivy image --severity HIGH,CRITICAL --ignore-unfixed --exit-code 0 9148428653/backend:latest

    - name: Scan Frontend
      run: trivy image --severity HIGH,CRITICAL --ignore-unfixed --exit-code 0 9148428653/frontend:latest

    - name: Push Images
      run: |
        docker push 9148428653/backend:latest
        docker push 9148428653/frontend:latest


  deploy:
    needs: build-and-push
    runs-on: self-hosted

    steps:
    - name: Pull Latest Images
      run: |
        docker pull 9148428653/backend:latest
        docker pull 9148428653/frontend:latest

    - name: Deploy Containers
      run: |
        docker-compose -f /home/app/docker-compose.yml up -d --force-recreate
