name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-scan-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: "9148428653"
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Locate Backend Dockerfile
      run: |
       echo "Searching for Dockerfile in backend..."
       find backend -maxdepth 3 -type f -iname "dockerfile*"

    - name: Locate Frontend Dockerfile
      run: |
       echo "Searching Frontend Dockerfile..."
       find frontend -maxdepth 4 -type f -iname "dockerfile*"
       
    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin

    - name: Push Images
      run: |
        docker push 9148428653/backend:latest
        docker push 9148428653/frontend:latest

    - name: Scan Backend
      run: trivy image --severity HIGH,CRITICAL --exit-code 1 9148428653/backend:latest

    - name: Scan Frontend
      run: trivy image --severity HIGH,CRITICAL --exit-code 1 9148428653/frontend:latest


    - name: Deploy to Staging
      run: |
        ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "
        docker pull 9148428653/backend:latest &&
        docker pull 9148428653/frontend:latest &&
        docker-compose -f /home/app/docker-compose.yml up -d --force-recreate
        "







