name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:

  # =========================
  # BUILD · TEST · SCAN · PUSH
  # =========================
  build_test_scan_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: "9148428653"
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Validate Dockerfiles
        run: |
          test -f backend/Dockerfile
          test -f frontend/Dockerfile

      - name: Build & Push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: 9148428653/backend:latest

      - name: Build & Push Frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: 9148428653/frontend:latest

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh \
          | sudo sh -s -- -b /usr/local/bin

      - name: Scan Backend Image
        run: trivy image --severity HIGH,CRITICAL --ignore-unfixed --exit-code 0 9148428653/backend:latest

      - name: Scan Frontend Image
        run: trivy image --severity HIGH,CRITICAL --ignore-unfixed --exit-code 0 9148428653/frontend:latest


  # =========================
  # STAGING DEPLOYMENT
  # =========================
  deploy_staging:
    runs-on: self-hosted
    needs: build_test_scan_push
    environment: staging

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull images
        run: |
          docker pull 9148428653/backend:latest
          docker pull 9148428653/frontend:latest

      - name: Deploy to staging
        run: |
          docker compose down
          docker compose up -d --force-recreate

      - name: Verify staging
        run: |
          docker ps
          curl -f http://localhost:5000/health


  # =========================
  # PRODUCTION DEPLOYMENT
  # =========================
  deploy_production:
    runs-on: self-hosted
    needs: deploy_staging
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull images
        run: |
          docker pull 9148428653/backend:latest
          docker pull 9148428653/frontend:latest

      - name: Deploy to production
        run: |
          docker compose down
          docker compose up -d --force-recreate

      - name: Verify production
        run: |
          docker ps
          curl -f http://localhost:5000/health
