name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  # =========================
  # BUILD · TEST · SCAN · PUSH
  # =========================
  build_test_scan_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # DockerHub Login
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: 9148428653
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build & Push Backend
      - name: Build & Push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: 9148428653/backend:latest

      # Build & Push Frontend
      - name: Build & Push Frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: 9148428653/frontend:latest

      # Install Trivy
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh \
          | sudo sh -s -- -b /usr/local/bin

      # Scan Images
      - name: Scan Backend Image
        run: trivy image --severity HIGH,CRITICAL --ignore-unfixed 9148428653/backend:latest

      - name: Scan Frontend Image
        run: trivy image --severity HIGH,CRITICAL --ignore-unfixed 9148428653/frontend:latest


  # =========================
  # STAGING DEPLOYMENT
  # =========================
  deploy_staging:
    runs-on: ubuntu-latest
    needs: build_test_scan_push
    environment: staging

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull Docker Images
        run: |
          docker pull 9148428653/backend:latest
          docker pull 9148428653/frontend:latest

      - name: Deploy to Staging
        run: |
          docker compose -f docker-compose.yml up -d --force-recreate

      - name: Verify Staging Deployment
        run: |
          docker ps
          curl -f http://localhost:5000/health


  # =========================
  # PRODUCTION DEPLOYMENT
  # =========================
  deploy_production:
    runs-on: ubuntu-latest
    needs: deploy_staging
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull Docker Images
        run: |
          docker pull 9148428653/backend:latest
          docker pull 9148428653/frontend:latest

      - name: Deploy to Production
        run: |
          docker compose -f docker-compose.yml up -d --force-recreate

      - name: Verify Production Deployment
        run: |
          docker ps
          curl -f http://localhost:5000/health
