name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-test-scan-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: "9148428653"
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Backend
      run: docker build -f ./backend/Dockerfile -t 9148428653/backend:latest ./backend

    - name: Build Frontend
      run: docker build -f ./frontend/Dockerfile -t 9148428653/frontend:latest ./frontend

    - name: Install Trivy
      run: |
        sudo apt-get update
        wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_Linux-64bit.deb
        sudo dpkg -i trivy_Linux-64bit.deb

    - name: Scan Backend
      run: trivy image --severity HIGH,CRITICAL --exit-code 1 9148428653/backend:latest

    - name: Scan Frontend
      run: trivy image --severity HIGH,CRITICAL --exit-code 1 9148428653/frontend:latest

    - name: Push Images
      run: |
        docker push 9148428653/backend:latest
        docker push 9148428653/frontend:latest

    - name: Deploy to Staging
      run: |
        ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "
        docker pull 9148428653/backend:latest &&
        docker pull 9148428653/frontend:latest &&
        docker-compose -f /home/app/docker-compose.yml up -d --force-recreate
        "
