name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Backend Image
      run: docker build -t backend ./backend

    - name: Build Frontend Image
      run: docker build -t frontend ./frontend

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4

    - name: Run Backend Tests
      run: echo "Run backend unit tests here"

    - name: Run Frontend Tests
      run: echo "Run frontend unit tests here"

  scan:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v4

    - name: Install Trivy
      uses: aquasecurity/trivy-action@master

    - name: Scan Backend
      run: trivy image backend || true

    - name: Scan Frontend
      run: trivy image frontend || true

  push:
    runs-on: ubuntu-latest
    needs: scan
    steps:

    - uses: actions/checkout@v4

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Tag & Push Images
      run: |
        docker tag backend ${{ secrets.DOCKER_USERNAME }}/backend:latest
        docker tag frontend ${{ secrets.DOCKER_USERNAME }}/frontend:latest
        
        docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: push
    steps:

    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |
          cd /your/project/path
          ./deploy.sh
